/* ------------------ */
.navbar-flex {
    display: flex;
    flex-direction: row-reverse;
    height: 62px;
    width: 100%;
    background: var(--lighter);
    position: fixed;
    transition: 0.3s;
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    z-index: 4;
    border-bottom: 3px solid var(--light);
    justify-content: center;
} 
.navbar-flex::-webkit-scrollbar {
    display: none;
} 
.navbar-flex > a {
    color: var(--dark);
    text-decoration: none; 
    display: inline-block;
    position: relative;
    margin-top: 18px;
    font-size: 19px;
    font-style: bold;
    letter-spacing: -0.02em;
}
.navbar-flex > .right-margin {
    margin-right: 45px;
}
.navbar-flex > a:after {    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-image: var(--hgradient);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-flex > a:hover:after { 
    width: 100%; 
    left: 0; 
}
.navbar-flex > .responsive_sidebar_icon { 
    color: var(--dark);
    position: relative;
    bottom: 2px;
}
.navbar-flex > img.responsive_sidebar_icon:hover {
    filter: drop-shadow(5px 5px 7px black);
}
.dbtc {
    position: relative;
    z-index: 6;
    color: var(--dark);
    margin-top: 8px;
}
/* ------------------ */


/* ------------------ */
.sidebar-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    background: white;
    position: fixed;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 65px;
    z-index: 5; 
}
.sidebar-flex > a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #383F4C;
    transition: 0.3s;
    border: 2px #DBDBDB;
    background: #E5E5E5;
    border-bottom-style: solid;
} 
.sidebar-flex > a:hover {
    background: #9EA4AF;
} 
.sidebar-flex .closebtn {
    position: absolute;
    top: 10;
    right: 25px;
    margin-left: 50px;
    transition: 0.3s;
} 
.sidebar-flex .closebtn:hover {
    transform: rotate(90deg);
} 
.sidebar_header { 
    width: 100%;
    background: #393B40;
    height: 100%;
}
/* ------------------ */

