* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../assets/bg/bg-2.jpg");
}

grid-display {
    display: grid;
    grid-template-columns: 0fr 2fr;
    grid-template-rows: 0fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
    "header header"
    "sidebar page"
    "sidebar page"
    "sidebar page"
    "sidebar page"
    "sidebar page"
    "sidebar page";
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
}

sidebar {
    grid-area: sidebar;
    background: transparent;
    transition: 0.5s;
    justify-content: center;
} 

page {
    grid-area: page;
    overflow-y: scroll; 
} 
.intro {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
} 
.intro > .intro_text   {
    color: white;
    font-size: 45px;
    text-align: center;
    transition: 0.4s;
    height: 50%;
    cursor: default;
} 
.intro p {
    position: relative;
    color: white;
    font-size: 20px;
    bottom: 0;
}

.firstpart {
    width: 100%;
    height: 60%;
    padding-top: 7%;
    background-size: cover; 
} 
.details_section { 
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--lightdark);
    background-size: cover;
} 
.details_0 { 
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2em; padding-top: 6em;
}
.details_1 { /* First half */
    display: flex;
    flex-direction: column;
    position: relative;
}
.details_2 { /* Second half */
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 5em; padding-top: 6em;
}
ul.details_ul { /* UL for Details */
    color: white;
    font-size: 20px;
    transition: 0.4s;
    cursor: default;
    padding-top: 1em;
}
.details_wrapper { /* Wrapper for details for the two halves */
    display: flex;
}
.details_img { /* IMG for details */
    padding-top: 1em;
    position: relative;
    min-width: 700px;
    width: 50%;
}
.about_section {
    margin: auto;
    width: 100%;
    height: 20%;
    background: var(--dark);
    background-size: cover; 
    min-width: 100%;
} 