* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-smooth: always;
    transition: 0.3s;
}

body {
    background-image: var(--intro);
    z-index: 2;
}

grid-display {
    display: grid;
    grid-template-columns: 0fr 2fr;
    grid-template-rows: 0fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        "header header"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page";
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
}

sidebar {
    grid-area: sidebar;
    background: transparent;
    transition: 0.5s;
    justify-content: center;
}

page {
    grid-area: page;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* ------------------ */
.firstpart {
    width: 100%;
    height: 100%;
    background-size: cover;
    justify-content: center;
}
.intro {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    top: 28%;
}
.intro > .intro_text {
    position: relative;
    color: white;
    font-size: 45px;
    text-align: center;
    transition: 0.4s;
    height: 50%;
    cursor: default;
    letter-spacing: -0.05em;
}
.intro p {
    position: relative;
    color: white;
    font-size: 20px;
    bottom: 0;
}
/* ------------------ */

/* ------------------ */
.details_section {
    margin: auto;
    width: 100%;
    height: fit-content;
    background-color: var(--lighter);
    background-size: cover;
}
.details_wrapper {
    display: flex;
    padding: 55px 55px 55px 55px;
}
.details_0 {
    display: flex;
    flex-direction: row;
    position: relative;
}
.details_1 {
    display: flex;
    flex-direction: column;
    position: relative;
}
.details_2 {
    display: flex;
    flex-direction: column;
    position: relative;
}
ul.details_ul {
    color: var(--dark);
    font-size: 20px;
    cursor: default;
    position: relative;
    left: 20;
}

.details_img {
    position: relative;
    object-fit: cover;
}

.details-container {
    background: rgb(253, 253, 253);
    padding: 20px;
    box-shadow: 0px 0.3px 2.9px rgba(0, 0, 0, 0.07),
        0px 0.8px 6.6px rgba(0, 0, 0, 0.053),
        0px 1.3px 11.5px rgba(0, 0, 0, 0.046),
        0px 2.1px 18.3px rgba(0, 0, 0, 0.04),
        0px 3.3px 28.2px rgba(0, 0, 0, 0.035),
        0px 5.1px 44px rgba(0, 0, 0, 0.03),
        0px 8.5px 73.1px rgba(0, 0, 0, 0.024),
        0px 17px 146px rgba(0, 0, 0, 0.017);
    -webkit-box-shadow: 0px 0.3px 2.9px rgba(0, 0, 0, 0.07),
        0px 0.8px 6.6px rgba(0, 0, 0, 0.053),
        0px 1.3px 11.5px rgba(0, 0, 0, 0.046),
        0px 2.1px 18.3px rgba(0, 0, 0, 0.04),
        0px 3.3px 28.2px rgba(0, 0, 0, 0.035),
        0px 5.1px 44px rgba(0, 0, 0, 0.03),
        0px 8.5px 73.1px rgba(0, 0, 0, 0.024),
        0px 17px 146px rgba(0, 0, 0, 0.017);
}
/* ------------------ */

.ta-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ta-entry {
    background-color: var(--dark);
    border-radius: 8px;
    box-shadow: 1.7px 1.7px 1.2px rgba(0, 0, 0, 0.12),
        3.9px 3.9px 2.7px rgba(0, 0, 0, 0.093),
        6.7px 6.7px 4.6px rgba(0, 0, 0, 0.081),
        10.3px 10.3px 7.1px rgba(0, 0, 0, 0.072),
        15.2px 15.2px 10.5px rgba(0, 0, 0, 0.064),
        22.3px 22.3px 15.4px rgba(0, 0, 0, 0.056),
        33.5px 33.5px 23.1px rgba(0, 0, 0, 0.048),
        53.4px 53.4px 36.8px rgba(0, 0, 0, 0.039),
        100px 100px 69px rgba(0, 0, 0, 0.027);
    -webkit-box-shadow: 1.7px 1.7px 1.2px rgba(0, 0, 0, 0.12),
        3.9px 3.9px 2.7px rgba(0, 0, 0, 0.093),
        6.7px 6.7px 4.6px rgba(0, 0, 0, 0.081),
        10.3px 10.3px 7.1px rgba(0, 0, 0, 0.072),
        15.2px 15.2px 10.5px rgba(0, 0, 0, 0.064),
        22.3px 22.3px 15.4px rgba(0, 0, 0, 0.056),
        33.5px 33.5px 23.1px rgba(0, 0, 0, 0.048),
        53.4px 53.4px 36.8px rgba(0, 0, 0, 0.039),
        100px 100px 69px rgba(0, 0, 0, 0.027);
    width: fit-content;
}
.ta-entry:hover {
    background-color: #3f3f3f;
}

.ta-img img {
    border-radius: 50%;
    padding: 25px;
    width: 260px;
}

.ta-entry-artist-name {
    color: var(--light);
    font-family: "Lexend", sans-serif;
}

.ta-entry-artist-name,
.ta-entry-artist {
    padding-left: 22px;
    padding-right: 20px;
}
.ta-entry-artist h3 {
    color: rgb(189, 189, 189);
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
}

.song-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-title h2 {
    font-size: 21px;
    color: var(--dark);
    font-weight: 500;
}

.song-artist h4 {
    color: rgb(112, 112, 112);
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
}
/* ------------------ */
.contacts_wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 45px;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}
.container-wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
.contacts-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.links-wrapper {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: center;
}
.link-container {
    height: 100%;
    width: 100%;
}
/* ------------------ */

/* ------------------ */
.about_section {
    margin: auto;
    width: 100%;
    height: 195px;
    background: var(--lighter);
    background-size: cover;
    min-width: 100%;
}
/* ------------------ */
