:root {
    --main: #6385B5;
    --light: #C0C3E4;
    --dark: #070607;
    --lightdark: #1A191C;
    --green: #3AA74C;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

grid-display {
    display: grid;
    grid-template-columns: 0fr 2fr;
    grid-template-rows: 0fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
    "header header"
    "sidebar page"
    "sidebar page"
    "sidebar page"
    "sidebar page"
    "sidebar page"
    "sidebar page";
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: header;
}

sidebar {
    grid-area: sidebar;
    background: transparent;
    transition: 0.5s;
    justify-content: center;
} 

page {
    grid-area: page;
    overflow-y: scroll; 
} .intro {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
} .intro > .intro_text   {
    color: white;
    font-size: 55px;
    text-align: left;
    transition: 0.4s;
    height: 50%;
    cursor: default;
} .intro p {
    position: relative;
    color: white;
    font-size: 20px;
    bottom: 0;
}

.intro p.clickable {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; 
    display: inline-block;
    position: relative;
}
  .intro p.clickable:after {    
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
  .intro p.clickable:hover:after { 
    width: 100%; 
    left: 0; 
}

.firstpart {
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg/bg-2.jpg");
    padding-top: 7%;
    background-size: cover; 
    min-width: 100%;
} .details_section {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--lightdark);
    background-size: cover;
    min-width: 100%;
} .details_section > h1.title_text {
    color: white;
    font-size: 55px;
    transition: 0.4s;
    height: 50%;
    cursor: default;
    padding: 5%;
} .about_section {
    margin: auto;
    width: 100%;
    height: 20%;
    background: var(--dark);
    background-size: cover; 
    min-width: 100%;
} .other_half {
    transition: 0.6s;
} .other_half:hover {
    color: #97D9E1;
}

.padding {
    padding: 20px;
}

.vertical {
    height: 100%;
    width: 5px;
    border: none;
    background-color: white;
    border-radius: 10px;
}

.horizontal {
    margin-bottom: 15px;
    height: 5px;
    width: 100%;
    border: none;
    background-color: #D9AFD9;
    background-image: linear-gradient(90deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 10px;
}