/* All responsive CSS code will be placed here. */

@media screen and (max-width: 1024px) /* Recommended width for phones. */ {
    grid-display {
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-template-rows: 0fr 2fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
        "sidebar header"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page";
        width: 100vw;
        height: 100vh;
    }
    .firstpart {
        padding-top: 100px;
    }
    .welcome_message {
        min-width: 300px;
    }
    .navbar-flex {
        background: #202020;
        height: 70px;
        padding-top: 22px;
    }
    .navbar-flex > a {
        display: none;
    }
    .intro {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        justify-content: center;
    } .intro > .intro_text   {
        color: white;
        font-size: 35px;
        text-align: center;
    } .intro p {
        color: white;
        font-size: 30px;
    } .intro hr {
        display: none;
    }
    .intro .card {
        display: none;
    }
    .other_half {
        display: none;
    }
    .padding {
        display: none;
    }
    .navbar-flex > img.responsive_sidebar_icon {
        margin-left: 25px;
        padding: 4px;
    }
    .intro > .intro_text {
        padding-top: 0%;
    }
    .dbtc {
        display: none;
    }
    .navbar-flex {
        flex-direction: row;
    }
    .intro p.clickable {
        font-size: 19px;
    }
    .details_wrapper {
        flex-direction: column;
    }
    .details_section {
        height: 200%;
    }
    .details_1, .details_2 {
        padding-left: 1em;
    }
}

/* Desktop Format */
@media only screen and (min-width: 1024px) {
    .intro {
        padding-top: 3%;
    }
    .navbar-flex > img.responsive_sidebar_icon {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: var(--lightdark); 
    }

    ::-webkit-scrollbar-thumb {
        background-color: #D9AFD9;
        background-image: linear-gradient(180deg, #D9AFD9 0%, #97D9E1 100%);
        border-radius: 15px;
    }

    .intro > .intro_text {
        padding-top: 3%;
    }
}
