/* All responsive CSS code will be placed here. */

@media screen and (max-width: 800px) /* Recommended width for phones. */ {
    grid-display {
        display: grid;
        grid-template-columns: 0fr 1fr;
        grid-template-rows: 0fr 2fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-areas:
        "sidebar header"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page"
        "sidebar page";
        width: 100vw;
        height: 100vh;
    }

    /* ------------------ */
    /* NAVIGATION BAR */
    .navbar-flex {
        padding-top: 17px;
        flex-direction: row;
        justify-content: left;
    }
    .navbar-flex > a {
        display: none;
    }
    .navbar-flex > img.responsive_sidebar_icon {
        margin-left: 25px;
        padding: 4px;
    }
    /* ------------------ */

    
    /* ------------------ */
    /*  Firstpart / Entrance */
    .firstpart {
        height: 300px;
    }
    .intro {
        flex-direction: column;
        top: 42%;
    } 
    .intro > .intro_text   {
        font-size: 29px;
    } 
    .other_half {
        display: none;
    }
    .intro p.clickable {
        font-size: 19px;
    }
    /* ------------------ */


    /* ------------------ */
    /* Details Section */
    .details_wrapper {
        flex-direction: column;
    }
    .details_0, .details_1, .details_2 {
        padding-left: 1em;
        min-width: 1px;
    }
    .details_img {
        min-width: 350px;
    }
    /* ------------------ */

    .dbtc {
        display: none;
    }

    .gallery-img-wrapper {
        flex-direction: column;
    }

    .theme-switch-wrapper {
        margin-bottom: 17px;
    }
    .container-wrapper {
        flex-direction: column;
    }
}

/* Desktop Format */
/* Only desktop screens can see this */
@media only screen and (min-width: 800px) {

    /* Hide sidebar icon */
    .navbar-flex > img.responsive_sidebar_icon {
        display: none;
    }

    /* ------------------ */
    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        background: var(--lightdark); 
    }

    ::-webkit-scrollbar-thumb {
        background-color: white;
        border-radius: 15px;
    }
    /* ------------------ */
}


