.timeline {
    position: relative;
    max-width: 100%;
}
/*.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-image: var(--hgradient);
    top: 0;
    bottom: 0;
    left: 40%;
}*/
.container {
    position: relative;
    background-color: inherit;
    width: 100%;
}
.content {
    padding: 20px 30px;
    background-color: var(--dark);
    position: relative;
    border-radius: 9px;
    border: 4px solid var(--darker);
    transition: 0.4s;
}

/* placing this on responsive.css doesn't work so it stays here */
@media screen and (min-width: 1px) {
    .container {
        width: 100%;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
}